
<div class="mission-image">
    <%= image_tag asset_path("mission.png", alt: "Our Mission") %>
</div>

<div class="center-text">
    <h1>Our Mission</h1>
    <p>Volunteer for Earth is a community-based charity organisation for people who want to make a difference to our planet.</p>
    <p>With your help, we can make a difference to the environment. For example, every year, millions of tons of plastic enter the oceans primarily from pollution. The plastic afloat across the oceans – like the Great Pacific Garbage Patch – isn’t going away by itself.
    </p>
    <p>Get involved in Volunteer for Earth! We encourage and appreciate every one’s effort, whether it is education, tree planting, protection of public lands, hosting of clean-ups, growing community gardens and helping out wildlife… just to name a few!
    </p>
    <p>As you would expect, it isn’t simply possible for Australia's environmental challenges to be solved in just one day, so Volunteer for Earth co-operate and works alongside community, government and businesses to provide practical solutions to help us all live more sustainably every day of the year.
    </p>
</div>