

<%= image_tag asset_path("hero-image.jpeg"), :style => "width: 100%" %>

<footer>
    <div class="footer">
        <span class="align-left">V4E: there's no planet B</span>
        <span class="align-right">Created by Yee 2020</span>
    </div>
</footer>